* {
   margin: 0;
   padding: 0;
}
body {
    /* background-color: whitesmoke; */
    
}
h1 {
    font-family: sans-serif;
    font-weight: bolder;
    }

.navbar-nav li {
    margin: 10px;
}
.navbar-nav li a {
    font-size: 18px;
    color: black !important;
    font-weight: 500;
}

.navbar-nav li a:hover {
    color: white !important;
    background-color: rgb(168, 158, 158);
    border-radius: 20px;
    transition: 0.5s;
}

h2 {
    text-shadow: 10px 0px 20px grey;
    text-decoration: underline;
    margin-bottom: 30px;
}
.mission p {
    font-family: monospace;
    font-size: 18px;
}
.footer h3, h4  {
    color: white !important;

} 
.footer p {
    color: white;
}
.fheader h1 {
    text-shadow: 10px 10px 10px grey;
}
.table table {
    width: 100%;
}
.fheading th {
    font-size: 22px;
    text-decoration: underline;
}
.c-contactbox {
    border: 1px solid;
    padding: 0px 25px;
}
.c-contactbox input {
    padding-left: 5px;
}
